/*Reset para eliminar márgenes por defecto en todos los elementos*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    /* Apila el header arriba y el contenido abajo*/
    min-height: 100vh;
    background-color: #9facaf4f;
}

ul {
    padding-left: 0;
}

/* Header superior */
.top-header {
    display: flex;
    background-color: rgb(119, 224, 154);
    color: white;
    justify-content: flex-start;
    /*Ponemos el logo a la derecha*/
    align-items: center;
    height: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

img.logo-muni-header {
    height: 100px;
    width: auto;
    margin: 10px;
}

/* Contenedor del layout (flexbox en fila) */
.main-layout {
    display: flex;
    /* Coloca la barra lateral y el main lado a lado */
    flex: 1;
    /* Ocupa todo el alto restante de la pantalla */
}

/* Barra lateral */
.lat-bar {
    display: flex;
    flex-direction: column;
    width: 20rem;
    /* Ancho fijo de la barra */
    background-color: rgb(205, 223, 194);
}

.lat-bar ul.nav-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Cada item ppal sirve de ancla relativa para el submenu*/
.menu-item {
    position: relative;
}

/* ESTILO EXCLUSIVO para los enlaces principales (hijos directos de menu-item) */
/* Usamos el selector > para indicar que es EXCLUSIVO para los hijos directos de menu-item*/
.menu-item > a {
    font-size: 20px;
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 12px 20px;
    transition: background-color 0.2s;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.menu-item>a:hover {
    background-color: rgb(118, 165, 104);
}

/* Quitamos viñetas por defecto */
.nav-list,
.submenu {
    list-style: none;
}

/* Item de lista alejado de los demas para "Cerrar sesion" */
#cerrar-sesion{
    margin-top: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.2);    
}

/* Mantener resaltada la opcion elegida en la barra lateral */
.menu-item>a.activo{
    background-color: rgb(118, 165, 104);
}

/* Submenu flotante */
.submenu {
    position: absolute;
    /* Se posiciona relativo a .menu-item*/
    top: 0;
    /*Alineado al tope superior del boton*/
    left: 100%;
    /*Se empuja al borde derecho de lat-bar*/
    width: 200px;
    /*Ancho del panel desplegable*/
    background-color: #afcfac;
    /*Color de fondo del cuadro*/
    box-shadow: 2px 2px 8px rgb(0, 0, 0);
    /*Color de la sombra del cuadro*/
    z-index: 10;
    /*Se asegura que quede por encima del fondo*/
    padding: 0;
    margin: 0;

    /*Oculto por defecto*/
    opacity: 0;
    visibility: hidden;
    transform: translateX(-10px);
    /*Lo movemos ligeramente a la izquierda*/

    /*Definimos la transición suave*/
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

/* Al pasar el cursor sobre el li, se despliega la lista */
.menu-item:hover .submenu {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    /*Acá se desliza a la posición que corresponde*/
}

/* Estilo para los links internos del submenú */
.submenu a {
    display: block;
    text-decoration: none;
    font-size: 16px;
    color: #333333;
    padding: 10px 15px;
    transition: background-color 0.2s;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.submenu a:hover {
    background-color: #74b678;
}

.cuerpo {
    display: flex;
    flex: 1;
    padding: 5px 10px;
    flex-direction: column;
}

.menu-ppal {
    margin-top: auto;
}

.menu-ppal > a {
    font-size: 20px;
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 12px 20px;
    transition: background-color 0.2s;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.menu-ppal > a:hover {
    background-color: rgb(118, 165, 104);
}
.cuerpo button {
    width: 10rem;
}

/* Boton de agregar */
.cuerpo>button.agregar{
    margin-left: auto;
}